
.Welcome-Dashboard {
    font-size: 150%;
    font-family: Arial;
    color: white;
    position: absolute;
    left: 15%;
    top: 4%;
    font-weight: bold;
  }

.c1Text {
      letter-spacing: 1px;
      font-size: 65%;
 
      z-index: 1;
      position: absolute;
      left: 20%;
      top: 15%;

}
.c1BodyText {
      font-size: 150% !important;
      position: absolute;
      right: 90%;
      top: 50%;
      font-weight: bold;
}
.c2Text {
      letter-spacing: 1px;
      font-size: 65%;
 
      z-index: 1;
      position: absolute;
      left: 45%;
      top: 15%;

}


.c3Text {
      letter-spacing: 1px;
      font-size: 65%;
 
      z-index: 1;
      position: absolute;
      left: 18.5%;
      top: 57%;

}

.c4Text {
      letter-spacing: 1px;
      font-size: 65%;
 
      z-index: 1;
      position: absolute;
      left: 42.2%;
      top: 56.5%;

}

.c4BodyText {
      font-size: 45% ;
      position: absolute;
      left: 39%;
      top: 61.3%;
      font-weight: bold;
      letter-spacing: 1px;
}
.c4BodyText2 {
      font-size: 45% ;
      position: absolute;
      left: 47.8%;
      top: 61.3%;
      font-weight: bold;
      letter-spacing: 1px;

}


.line {
      position: absolute;
      width: 18.345%;
      height: 1px;
      left: 38%;
      top: 62%;
      z-index: 1;
      border: 1px solid #E1E9F2;
}
.square {
      position: absolute;
      width: 1%;
      height: 1.6%;
      left: 39%;
      top: 65.5%;

      border: 1px solid #E1E9F2;
      box-sizing: border-box;
      border-radius: 4px;
}
.square2 {
      position: absolute;
      width: 1%;
      height: 1.6%;
      left: 47.8%;
      top: 65.5%;

      border: 1px solid #E1E9F2;
      box-sizing: border-box;
      border-radius: 4px;
}

.nextPractice {
      font-size: 45% ;
      position: absolute;
      left: 40.5%;
      top: 63.8%;
      font-weight: bold;
      letter-spacing: 1px;
}
.testDate {
      font-size: 45% ;
      position: absolute;
      left: 49.4%;
      top: 63.8%;
      font-weight: bold;
      letter-spacing: 1px;
}
.c5Text {
      letter-spacing: 1px;
      font-size: 65%;
 
      z-index: 1;
      position: absolute;
      left: 66.5%;
      top: 15%;
}
  
.App-header {
      z-index: 2;
}
.recentFiles {
      letter-spacing: 1px;
      font-size: 65%;
 
      z-index: 1;
      position: absolute;
      left: 63%;
      top: 24%;
      list-style-type: none;
}
