body {
    min-height: 100vh;
    background-color: #2B4162;
}

.Dashboard {
    position: absolute;
    margin-left: 85px;
    margin-top: 25px;
    width: 500px;
}

.Main {
    background-color: #6682AD;
    height: auto;
    width: auto;
    position: absolute;
    margin-left: 85px;
    margin-top: 70px;
    width: 500px;
    justify-content: center;
}

.MainContent {
    margin: 5px;
    color: white;
}

.Specifics {
    background-color: #6682AD;
    color: white;
    height: auto;
    width: auto;
    position: absolute;
    margin-left: 620px;
    margin-top: 70px;
    width: 300px;
    justify-content: center;
}

.Playback {
    background-color: #6682AD;
    color: white;
    height: auto;
    width: auto;
    position: absolute;
    margin-left: 620px;
    margin-top: 270px;
    width: 300px;
    height: 500px;
    justify-content: center;
}

.Document {
    background-color: #6682AD;
    color: white;
    height: auto;
    width: auto;
    position: absolute;
    margin-left: 955px;
    margin-top: 70px;
    width: 450px;
    height: 700px;
    justify-content: center;
}